<main>
<div class = "border m-5 border text-center">
<h1 class="m-5"> Eventia. Let's gather.</h1>

</div>

<div class="m-5 border">
    <% if current_user %>
    <p>You are now logged as

 <%= current_user.name%> 
    </p>
<% end %>

</div>

</main>

