<nav>
    <h1 class="m-5">List of available events</h1>
</nav>
        
        
  <div class="m-5 border border-success">
    <%= @event.description %> <br>
    <% @event.attendances.each do |attendances| %>
  <div class="border">
        <%= User.find(attendances.user_id).name %> <br>
      </div>
    <% end %>
      </div>
