<main>
        <nav class="m-5 border text-center">
        <h1>List of available events</h1>
        </nav>
        
        SHOW PAGE 
        
        <% @event.each do |event| %>
        <div class="events m-5 border">
        <%= event.description %> <br>
        
        <% event.attendances.each do |attendances| %>
        
        <div class="events border">
        <%= User.find(attendances.user_id).name %> <br>
        </div>
        <% end %>
        </div>
        <% end %>

</main>