
<nav>
<h1>Event attendees</h1>
</nav>

People coming to <br>


<%= @event.description %> <br>

<% @event.attendances.each do |attendances| %>

<%= User.find(attendances.user_id).name %> <br>


<% end %>